:root {
    --font-family: 'Outfit', sans-serif;
    --background-color: #d5e1ef;
    --primary-color: hsl(218, 44%, 22%);
    --secondary-color: hsl(216, 15%, 48%);
    --white-color: hsl(0, 0%, 100%);
    --border-radius: 10px;
    --primary-font-weight: 700;
    --secondary-font-weight: 400;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
}

p.title {
    font-weight: var(--primary-font-weight);
}

p.information {
    font-weight: var(--secondary-font-weight);
    color: var(--secondary-color);
}

.qr-code {
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    text-align: center;
    max-width: 20rem;
}

.qr-image {
    border-radius: var(--border-radius);
    width: 100%;
    display: block;
}

